:root {
  --spacing: 5px;
  --2spacing: calc(2 * var(--spacing));
  --scrollbar-width: 10px;
  --menu-height: 30px;
  --menu-border-height: 6px;
  --menu-color: #040404;
  --checked-border-color: #03a9f4;
  --checked-background-color: aliceblue;
  --checked-hover-background-color: lightblue;
  --unchecked-border-color: darkgray;
  --unchecked-background-color: #f0f0f0;
  --unchecked-hover-background-color: lightgray;
}

html, input, button, a {
  font-family: system-ui;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes info-div-show {
  from {
    top: calc(-1 * var(--menu-height));
  }
  to {
    top: 0;
  }
}

menu {
  margin: 0;
  padding: 0;
}

#info-div {
  position: fixed;
  width: 100%;
  height: var(--menu-height);
  top: calc(-1 * var(--menu-height));
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}

.info-div-show {
  animation-name: info-div-show;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.22, 1.42, 0, .98);
  animation-fill-mode: forwards;
}

.error {
  background: darkred;
  color: #ffc107;
}

.info {
  background: #2196f3;
  color: #e9f5ff;
}

#top-border-div {
  height: 4px;
  background: #6ba6ff;
}

#menu-div {
  background: linear-gradient(0deg, #e5edff 0%, #c6d8ff 100%);
  display: flex;
  flex-direction: row;
  color: var(--menu-color);
  justify-content: space-between;
  height: var(--menu-height);
  box-shadow: 0 0px 10px -6px #003b77;
  border-bottom: 1px solid #aacdf1;
  box-sizing: content-box;
  border-top: 5px solid #71b7ff;
}

#menu-div div {
  display: flex;
  align-items: center;
}

#menu-div div * {
  padding: 3px 10px 6px 10px;
  border: none;
  background: none;
  border-radius: 0;
  color: var(--menu-color);
  font-size: 13px;
  text-decoration: none;
  box-sizing: border-box;
  height: var(--menu-height);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#menu-div a, #menu-div .menu-button {
  cursor: pointer;
}

#menu-div a:first-child {
  margin-left: 0;
}

#menu-div a:hover, #menu-div .menu-button:hover {
  background: #6ba6ff;
  color: #ffffff;
}

#main-div {
  display: flex;
}

#main-div > div {
  padding: var(--2spacing);
}

#main-div > div:first-child {
  padding-right: 0;
}

#library-div, #playlist-div {
  box-sizing: border-box;
  height: calc(100vh - var(--menu-height) - var(--menu-border-height));
  display: flex;
  flex-direction: column;
  width: 50%;
}

#playlist-table-div {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#current-song-div {
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: var(--spacing);
}

#current-song-artist {
  display: inline;
}

#current-song-title {
  display: inline;
}

#current-song-file {
  font-size: 14px;
  font-weight: 600;
}

#progress-slider {
  margin: var(--spacing);
  width: 100%;
}

#progress-div {
  display: flex;
  align-items: center;
  line-height: 30px;
}

h1 {
  margin: 0 0 calc(3 * var(--spacing)) 0;
  padding: 0;
  font-variant: small-caps;
}

input[type="text"] {
  padding: var(--spacing);
  background: white;
}

button {
  cursor: pointer;
  background-color: var(--unchecked-background-color);
}

button.checked {
  cursor: pointer;
  background-color: var(--checked-background-color);
}

button:hover {
  background-color: var(--unchecked-hover-background-color) !important;
}

button.checked:hover {
  background-color: var(--checked-hover-background-color) !important;
}

input[type="text"], button {
  border: 1px solid var(--unchecked-border-color);
  border-radius: 5px;
}

input[type="text"].checked, button.checked {
  border: 1px solid var(--checked-border-color);
  border-radius: 5px;
}

button.selected {
  border: 1px solid #2196f3;
}

.playlist-controls-div button {
  margin-right: var(--spacing);
}

.controls-div, .location-div, .playlist-controls-div {
  padding: 0 0 var(--2spacing) 0;
  display: flex;
  align-items: center;
}

.controls-div button, .location-div * {
  font-size: 18px;
  margin-right: var(--spacing);
}

.controls-div button, .location-div button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
}

#play-pause-btn, #prev-btn, #stop-btn, #next-btn, #loop-btn, #shuffle-btn {
  background-image: url(/icons.png);
  background-size: 128px;
}

.pause-btn {
  background-position: -1px -1px;
}

.play-btn {
  background-position: calc(-2 * 16px - 1px) -1px;
}

#prev-btn {
  background-position: -1px calc(-32px - 1px);
}

#stop-btn {
  background-position: calc(-3 * 32px - 1px) -1px;
}

#next-btn {
  background-position: calc(-32px - 1px) calc(-32px - 1px);
}

#loop-btn {
  background-position: calc(-32px - 1px) calc(-3 * 32px - 1px);
}

#shuffle-btn {
  background-position: calc(-1px) calc(-3 * 32px - 1px);
}

#volume-div {
  display: flex;
  align-items: flex-end;
}

#volume-slider {

}

.location-div {
  font-style: italic;
}

.location-div span {
  font-size: 16px;
}

#search-div {
  display: flex;
  margin-bottom: var(--2spacing);
  gap: var(--2spacing);
}

#search-div input {
  flex-grow: 1;
}

.table-div {
  border: 1px solid var(--unchecked-border-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.table-tr-selected {
  background: var(--checked-border-color) !important;
  color: white;
}

.table-head-tr-div {
  background: #eee;
  border-bottom: 1px solid var(--unchecked-border-color);
  padding-right: var(--scrollbar-width);
}

.table-body-tr-div, .table-head-tr-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-head-td-div, .table-body-td-div {
  border-left: 1px solid var(--unchecked-border-color);
}

.table-body-td-div {
  height: 40px;
  display: flex;
  padding: var(--spacing);
  box-sizing: border-box;
  align-items: center;
  text-wrap-mode: nowrap;
}

.table-head-td-div:first-child, .table-body-td-div:first-child {
  border-left: none;
}

.table-body-div {
  overflow-y: scroll;
  height: 100%;
}

grid {
  height: 100%;
}

.table-body-div .table-body-tr-div {
  border-top: 1px solid #ddd;
}

.table-body-tr-div:first-child {
  border-top: none;
}

.table-body-tr-div:nth-child(even) {
  background-color: #f2f2f2;
}

.table-body-td-div, .table-head-td-div {
  padding: var(--spacing);
  box-sizing: border-box;
}

.table-body-td-div {
  display: flex;
  overflow: hidden;
}

.table-head-td-div {
  display: inline-block;
}

.table-body-td-div, .table-body-td-div button {
  font-size: 14px;
  line-height: 22px;
}

.table-body-td-div > button:last-child {
  max-width: 50ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-body-td-div span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.table-control-btn button {
  width: 32px;
  line-height: 27px;
  height: 32px;
  font-size: 22px;
}

.table-body-td-div * {
  margin-right: var(--spacing);
}

.control-buttons-div {
  display: flex;
  margin-right: 0;
  margin-left: var(--spacing);
}

.control-buttons-div button {
  min-width: 28px;
}

.highlight {
  background: yellow;
}

.dir-info {
  color: grey;
  font-size: 10px;
  line-height: 12px;
}

.dir-button button {
  font-size: 12px;
  line-height: 15px;
}

.name-div {
  font-weight: 500;
}

.name-div:hover, .dir-info:hover {
  color: #2196f3;
  cursor: pointer;
}

.playlist-name-div {
  width: 100%;
}

.playlist-length-div {
  width: 60px;
  display: flex;
  justify-content: center;
}

.item-div {
  margin-bottom: 5px;
}

.table-tr-selected .item-div .dir-info {
  color: white;
}

.table-tr-selected .item-div .name-div:hover {
  color: white;
}

#playlist-table .name-div:hover {
  color: black;
  cursor: initial;
}

#playlist-table .table-tr-selected .name-div {
  color: white;
}

#playlist-table .table-tr-selected .dir-info, #playlist-table .table-tr-selected .dir-info:hover {
  color: white;
}

#playlist-table .dir-info:hover {
  color: grey;
  cursor: initial;
}
